.nav-bar {
  display: flex;

  text-align: center;
 
  text-decoration: none;
  background-color: #493a3a;
  font-size: 25px;
  font-family: 'Serif';
  padding: "0px 15px";
  color: white;
  
  top: 50%;
  left: 50%;

  width: 100%;
  overflow: auto;
    
}